@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jost:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=M+PLUS+1:wght@100..900&display=swap");

.ff-black-han-sans {
  font-family: "Black Han Sans", sans-serif;
}

.ff_mplus {
  font-family: "M PLUS 1", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  margin-bottom: 0 !important;
}

.text_orange {
  color: #ff7d01;
}

.team_section_bg_color {
  background-color: #1d1d1e;
}

.team-section-cards {
  padding-top: 61px;
  gap: 40px;
}

.row {
  --bs-gutter-x: 0 !important;
}

.team-card {
  max-width: 295px;
}

.team-name-designation-box {
  padding: 17px 52px 17px 52px;
  background: #ff7d01;
}

.hover-img {
  overflow: hidden;
}

.border-left {
  border-bottom-left-radius: 50px;
}

.border-right {
  border-bottom-right-radius: 50px;
}

.team-card .hover-img img {
  transition: all 500ms ease;
}

.team-card:hover img {
  transform: scale(1.1);
}

.team-section-padding {
  padding-top: 155px;
  padding-bottom: 155px;
}

.footer-subline {
  max-width: 500px;
}

.footer-background {
  background-image: url(../images/webp/footer-background.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-left-blur-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fdfe7c;
  filter: blur(560px);
  width: 304px;
  height: 220px;
}

.footer-right-blur-circle {
  position: absolute;
  bottom: 10px;
  right: 0;
  background-color: #fdfe7c;
  filter: blur(200px);
  width: 304px;
  height: 304px;
}

.footer-copyright {
  position: relative;
  padding-top: 12px;
  padding-bottom: 11px;
  color: #c1c1bc;
}

.footer-social-links {
  gap: 10px;
  margin-top: 30px;
  margin-bottom: 63px;
}

.footer-copyright::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: white;
  width: 100%;
  height: 1px;
}

.footer-left-grass svg {
  width: 374px;
}

.footer-padding {
  padding-top: 127px;
}

.footer-social-links a {
  transition: all 500ms;
}

.footer-social-links a:hover {
  transform: translateY(-4px);
}

.footer-company-logo p {
  -webkit-text-stroke: 1px black;
}

@media (max-width: 1200px) {
  .footer-padding {
    padding-top: 100px;
  }

  .team-section-padding {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media (max-width: 1024px) {
  .footer-left-grass svg {
    width: 280px;
    bottom: -25px;
    left: 0;
    position: absolute;
  }

  .footer-right-grass svg {
    width: 280px;
    right: 0;
    bottom: -25px;
    position: absolute;
  }

  .footer-company-logo img {
    width: 75px;
    height: 76px;
  }

  .footer-left-blur-circle {
    width: 90px;
  }

  .footer-right-blur-circle {
    width: 90px;
  }
}

@media (max-width: 992px) {
  .border-left {
    border-bottom-left-radius: 0px;
  }

  .border-right {
    border-bottom-right-radius: 0px;
  }

  .footer-padding {
    padding-top: 80px;
  }

  .team-section-padding {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media (max-width: 768px) {
  .footer-left-grass svg {
    width: 184px;
    bottom: -25px;
    left: 0;
    position: absolute;
  }

  .footer-right-grass svg {
    width: 184px;
    right: 0;
    bottom: -25px;
    position: absolute;
  }

  .footer-padding {
    padding-top: 60px;
  }

  .team-section-padding {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (max-width: 576px) {
  .footer-left-grass svg {
    width: 94px;
    bottom: -25px;
    left: 0;
    position: absolute;
  }

  .footer-right-grass svg {
    width: 94px;
    right: 0;
    bottom: -25px;
    position: absolute;
  }

  .footer-padding {
    padding-top: 48px;
  }

  .team-section-padding {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
