@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jost:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=M+PLUS+1:wght@100..900&display=swap');

.nft_bg {
    background: url(../images/webp/NftBg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nft_goat_img {
    max-width: 386px;
    max-height: 503px;
}


.lh_125 {
    line-height: 125% !important;
}

.lh_160 {
    line-height: 160%;
}

.mint_now_section {
    padding: 98px 0px 138px;
}

.counterbox {
    border: 1px solid #665c47;
    backdrop-filter: blur(40px);
    max-width: 458px;
    min-height: 294px;
    border-radius: 8px;
    padding: 39px 0px 30px;
}

.counter {
    font-size: 3rem;
}

.counterbtn {
    width: 24px;
    cursor: pointer;
}

.counter_gap {
    gap: 35px;
}

.lh_144 {
    line-height: 144% !important;
}

.lh_150 {
    line-height: 150% !important;
}

.mint_now_btn {
    background-color: #ff7d01;
    border: none;
    padding: 5.24px 0px;
    width: 144px;
    border-radius: 1.05px;
}

.bg_color {
    background-color: #1d1d1e;
}

/*--------------------------------- accordion css -----------------------------*/

.accordion {
    max-width: 670px !important;
    margin: 0px auto;
    background: transparent !important;
}

.accordion-item .accordion-header button {
    background-color: transparent !important;
    color: white !important;
    padding: 12px 16px 0px 16px !important;
}

.accordion-item {
    background-color: transparent !important;
    color: #d7d7d7 !important;
    margin-bottom: 20px;
}

.accordion-item .card-body {
    background-color: transparent !important;
}

.accordion-body {
    max-width: 602px;
    padding: 8px 0px 12px 16px !important;
}

.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed {
    background-image: url(/assets/images/png/Frame\ 31.png) !important;
    background-repeat: no-repeat !important;
    background-position: right;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(/assets/images/png/Frame\ 31.png) !important;
    transform: var(--bs-accordion-btn-icon-transform);
    background-repeat: no-repeat;
}