@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jost:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=M+PLUS+1:wght@100..900&display=swap');

.nft_bg {
    background: url(../images/webp/NftBg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nft_goat_img {
    max-width: 386px;
    max-height: 503px;
}


.lh_125 {
    line-height: 125% !important;
}

.counterbox {
    border: 1px solid white;
    backdrop-filter: blur(10px);
    max-width: 458px;
    border-radius: 8px;
}

.counter {
    font-size: 3rem;
}

.counterbtn {
    width: 24px;
    cursor: pointer;
}

.counter_gap {
    gap: 35px;
}

.lh_144 {
    line-height: 144% !important;
}

.lh_150 {
    line-height: 150% !important;
}

.mint_now_btn {
    background-color: #ff7d01;
    border: none;
    padding: 5.24px 0px;
    width: 144px;
    border-radius: 1.05px;
}