@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jost:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=M+PLUS+1:wght@100..900&display=swap");

.-mt_1 {
  margin-top: -2px !important;
}

.bg_black {
  background-color: #1d1d1e;
}

.text_orange {
  color: #ff7d01;
}

.text_white {
  color: #dedbd6;
}

.pt_10 {
  padding-top: 10px;
}

.mt_8 {
  margin-top: 32px;
}

/*------------------------------------------------ roadmap -------------------------------------------------*/
.roadmap_sec_p {
  padding: 60px 0px;
}

.text_grey {
  color: #c1c1c0;
}

.roadmap_right_ellipse {
  top: -20%;
  left: -25%;
  max-width: 1000px;
}

.roadmap_left_vector {
  top: 60%;
  left: -5%;
  max-width: 258px;
}

.roadmap_right_vector {
  top: -7%;
  right: -5%;
  max-width: 210px;
}

.min_h_652px {
  min-height: 800px;
}

.percentage_card {
  max-width: 752px;
  border-radius: 8px;
  border: 1px solid #3e3e3f;
  padding: 24px;
  background-color: #29292a;
  box-shadow: 0px 0px 16px 4px #ffffff14;
  margin-left: 70px;
}

.timeline {
  position: absolute;
  width: 1px;
  height: 75%;
  background-color: #8e8e8e;
}

.timeline_dot {
  background: #000;
  border: 1px solid white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-left: -10px;
}

.dot1 {
  top: 0;
  left: 0;
}

.dot2 {
  top: 50%;
  left: 0;
}

.dot3 {
  top: 100%;
  left: 0;
}

/*-------------------------------------------------- mint now section ----------------------------------------*/
.nft_bg {
  background: url(../images/webp/NftBg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.nft_goat_img {
  max-width: 386px;
  max-height: 503px;
}

.mint_now_section {
  padding: 98px 0px 138px;
}

/*------------------------------------------- line height -------------------------------------------------*/
.lh_144 {
  line-height: 144% !important;
}

.lh_150 {
  line-height: 150% !important;
}

.lh_125 {
  line-height: 125% !important;
}

.lh_160 {
  line-height: 160%;
}

/*------------------------------------------ counterbox css -------------------------------------------------------*/
.counterbox {
  border: 1px solid #665c47;
  backdrop-filter: blur(15px);
  background-color: #ffffff18;
  max-width: 458px;
  min-height: 294px;
  border-radius: 8px;
  padding: 39px 0px 30px;
  box-shadow: 0px 0px 16px 4px #ffffff2c;
}

.counterbtn {
  width: 24px;
  cursor: pointer;
}

.counter_gap {
  gap: 35px;
}
.counter_border {
  top: -1px;
  left: -3px;
  height: 30px;
  width: 30px;
}
.mint_now_btn {
  background-color: #ff7d01;
  border: none;
  padding: 5.24px 0px;
  width: 144px;
  border-radius: 1.05px;
  transition: all 300ms linear;
}

.mint_now_btn:hover {
  background-color: #000;
}

/*------------------------------------------------------------ faq bg -----------------------------------------------------*/
.faq_bg {
  background: url(/assets/images/webp/FaqBg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
}

.faq_right_ellipse {
  max-width: 800px;
  right: -15%;
  top: -40%;
}

.faq_left_ellipse {
  max-width: 800px;
  left: -15%;
  top: -10%;
}

.faq_left_vector {
  max-width: 327px !important;
  left: -6%;
  top: 25%;
}

/*-------------------------------------------------------- accordion css ---------------------------------------------------*/
.accordion_width {
  max-width: 670px;
}

.accordion_padding {
  padding: 80px 0px 89px;
}

.accordion {
  border-radius: 10px 10px 10px 10px;
  border: 1px solid #ffffff5f;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  padding: 12px 16px 8px 16px;
  max-width: 670px;
  width: 100%;
  text-align: left;
  outline: none;
  transition: 0.3s;
}

.btn1 {
  background-color: #ffffff17;
  padding-bottom: 12px;
}

.active,
.accordion.active-bottom {
  background-color: #ffffff17;
  border-radius: 10px 10px 0 0;
  border-bottom: none !important;
  padding-bottom: 8px;
}

.panel {
  border-top: none !important;
  border-top: none !important;
  border-radius: 0 0 10px 10px;
  padding: 0 52px 0px 16px;
  overflow: hidden;
  background-color: #ffffff17;
  color: #d7d7d7;
  max-height: 0;
  transition: all 300ms linear;
}

.active + .panel {
  border: 1px solid #ffffff5f;
  max-height: 700px;
  width: 100%;
}

.accordion_arrow {
  transform: rotate(180deg) !important;
  transition: all 300ms linear;
}

.active .accordion_arrow {
  margin-top: -10px;
  transform: rotate(0deg) !important;
}

/*---------------------------------------------- media queries -----------------------------------------------------*/
@media (max-width: 1199.98px) {
  .mint_now_section {
    padding: 80px 0px;
  }

  .faq_left_vector {
    max-width: 180px !important;
    left: -5%;
  }

  .nft_goat_img {
    max-width: 320px;
  }
  .roadmap_left_vector {
    top: 88%;
    left: -5%;
    max-width: 150px;
  }
  .roadmap_right_vector {
    top: -5%;
    right: -5%;
    max-width: 170px;
  }
}

@media (max-width: 1023.98px) {
  .mint_now_section {
    padding: 80px 0px;
  }
}

@media (max-width: 991.98px) {
  .mint_now_section {
    padding: 70px 0px;
  }

  .accordion_padding {
    padding: 60px 0;
  }

  .faq_left_vector {
    max-width: 150px !important;
    top: 0;
  }

  .roadmap_right_ellipse {
    top: -20%;
    left: -25%;
    max-width: 700px;
  }
}

@media (max-width: 767.98px) {
  .counterbox {
    max-width: 360px;
    min-height: 235px;
    border-radius: 8px;
    padding: 24px 0px 24px;
  }

  .mint_now_section {
    padding: 60px 0px;
  }

  .faq_left_vector {
    display: none;
  }

  .accordion_padding {
    padding: 20px 0px;
  }

  .faq_left_ellipse {
    max-width: 600px;
  }

  .percentage_card {
    margin-left: 48px;
  }

  .roadmap_right_vector {
    display: none;
  }

  .roadmap_left_vector {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .mint_now_section {
    padding: 48px 0px;
  }

  .panel {
    padding: 0 16px 0px 16px;
  }

  .nft_goat_img {
    max-width: 280px;
    max-height: 503px;
  }

  .faq_left_ellipse {
    max-width: 400px;
  }

  .faq_right_ellipse {
    max-width: 400px;
    right: 0%;
    top: 20%;
  }

  .percentage_card {
    margin-left: 24px;
  }

  .roadmap_right_ellipse {
    top: -10%;
    left: -35%;
    max-width: 500px;
  }
}
