@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jost:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=M+PLUS+1:wght@100..900&display=swap");
* {
  text-decoration: none !important;
  list-style-type: none;
}
.bg_header {
  background: url(../images/webp/HeaderBg.webp);
  background-size: cover;
  background-position: center;
}
.body_color {
  background-color: #1d1d1e;
}
/* ---------------------nav------------------------ */
nav ul li a:hover {
  color: #ff7d01 !important;
}
.bg_nav {
  background-color: rgba(0, 0, 0, 0.602);
}
.nav_logo {
  max-width: 49.33px;
}
.text_orange {
  color: #ff7d01;
}
.bg_orange {
  background-color: #ff7d01;
}
.gap_20 {
  gap: 20px;
}
.icons_hover:hover {
  transform: scale(1.1);
}
.transition_300 {
  transition: 300ms linear;
}
.nav_btn {
  height: 34.48px;
  width: 156px;
  border-radius: 1.05px;
  border: none;
}
.lh_150 {
  line-height: 150%;
}
.nav_btn_border {
  height: 49px !important;
  width: 172px !important;
  top: -7px;
  right: -8px;
}
.nav_btn:hover {
  background-color: black !important;
}
.cursor_pointer {
  cursor: pointer;
}
.nav_icon span {
  background-color: #ff7d01;
  width: 35px;
  height: 2px;
}
.cross_icon {
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
}

.cross_icon::before,
.cross_icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 2px;
  background-color: #ff7d01;
  transform-origin: center;
}

.cross_icon::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.cross_icon::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.start_100 {
  left: -100%;
}
.start_0 {
  left: 0% !important;
  transition: 300ms linear;
}
/* ----------------------------------main----------------------------------- */
.header_goat {
  max-width: 385.87px;
}
/* ---------------------------------trippy goat-------------------------- */


@media(max-width:768.98px){
    .header_goat{
        max-width: 268px;
    } 
    .
}