@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jost:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=M+PLUS+1:wght@100..900&display=swap");
* {
  text-decoration: none !important;
  list-style-type: none;
}
.bg_header {
  background: url(../images/webp/HeaderBg.webp);
  background-size: cover;
}
.body_color {
  background-color: #1d1d1e;
}
/* ---------------------nav------------------------ */
.z_10 {
  z-index: 10 !important;
}
nav ul li a:hover {
  color: #ff7d01 !important;
}
.bg_nav {
  background: url(../images/png/NavBg.png);
}
.nav_logo {
  max-width: 49.33px;
}
.text_orange {
  color: #ff7d01;
}
.bg_orange {
  background-color: #ff7d01;
}
.gap_20 {
  gap: 20px;
}
.icons_hover:hover {
  transform: scale(1.1);
}
.transition_300 {
  transition: 300ms linear;
}
.nav_btn {
  height: 34.48px;
  width: 156px;
  border-radius: 1.05px;
  border: none;
}
.lh_150 {
  line-height: 150%;
}
.nav_btn_border {
  height: 49px !important;
  width: 172px !important;
  top: -7px;
  right: -8px;
}
.nav_btn:hover {
  background-color: black !important;
}
.cursor_pointer {
  cursor: pointer;
}
.nav_icon span {
  background-color: #ff7d01;
  width: 35px;
  height: 2px;
}
.cross_icon {
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
}

.cross_icon::before,
.cross_icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 2px;
  background-color: #ff7d01;
  transform-origin: center;
}

.cross_icon::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.cross_icon::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.start_100 {
  left: -100%;
}
.start_0 {
  left: 0% !important;
}
.pb_76 {
  padding-bottom: 76px;
}
/* ----------------------------------main----------------------------------- */
.header_goat {
  max-width: 385.87px;
}
.mt_100 {
  margin-top: 100px;
}
/* -------------------------------Trippy Goat ----------------------------- */
.leaves_bg {
  top: -10%;
}
.trippy_goat_pera {
  max-width: 558px;
}
.pb_110 {
  margin-bottom: 110px;
}

.h_417 {
  max-height: 417px !important;
}
.lh_125 {
  line-height: 125%;
}
/* ---------------------------------About us------------------------------- */
.py_91 {
  padding-top: 91px;
  padding-bottom: 91px;
}
.about_pera {
  max-width: 560px;
  color: #bbbbbb;
}
.read_btn {
  height: 34.48px;
  width: 144px;
  border-radius: 1.05px;
  border: none;
}
.read_btn_border {
  height: 49px !important;
  width: 156px !important;
  top: -7px;
  right: -6px;
}
.read_btn:hover {
  background-color: black !important;
}
.center {
  transform: translateY(-50%);
  top: 50%;
}
.mw_366 {
  max-width: 366px;
}
.black_goat {
  transform: translateX(-20%) translateY(-43%) !important;
}
.orange_goat {
  transform: translateX(-35%) translateY(-34%) !important;
}
.min_h_515 {
  min-height: 515px;
}
.trippy_goat_ellipse {
  position: absolute;
  right: -80%;
  top: -90%;
  z-index: 4;
}
/* -------------------------------------Goat Slider---------------------------------------- */
.mw_203 {
  max-width: 203px;
}
.scale_hover:hover {
  transform: scale(0.9);
}
.slick-track {
  display: flex !important;
}
.slick-slide {
  height: inherit !important;
  display: flex !important;
}
.slick-slide  {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  max-width: 203px !important;
}
.mw_1440{
  max-width: 1440px !important;
}

/* --------------------------------------Media Quaries----------------------------------------- */
@media (max-width: 1200px) {
  .center {
    max-width: 260px !important;
  }
}
@media (max-width: 992px) {
  .py_91 {
    padding-top: 0px;
    padding-bottom: 91px;
  }
  .about_pera {
    max-width: 760px;
    color: #bbbbbb;
  }
  .center {
    transform: translateY(0%) translateX(-50%);
    top: 0%;
    left: 50%;
  }
  .black_goat {
    transform: translateX(-76%) translateY(23%) !important;
  }
  .orange_goat {
    transform: translateX(-95%) translateY(44%) !important;
  }
  .min-h-400 {
    min-height: 400px !important;
  }
  .y_10 {
    transform: translateX(50%) !important;
  }
}

@media (max-width: 768.98px) {
  .header_goat {
    max-width: 268px;
  }
  .trippy_goat_ellipse {
    right: -57%;
    bottom: -7%;
  }
  .pb_110 {
    margin-bottom: 70px;
  }
}
@media (max-width: 576.98px) {
  .pb_110 {
    margin-bottom: 0px;
  }
  .black_goat {
    transform: translateX(-56%) translateY(23%) !important;
  }
  .orange_goat {
    transform: translateX(-65%) translateY(44%) !important;
  }
}
